{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "12.5.0"
                }
            }
        ],
        [
            "@babel/typescript",
            {
                "jsxPragma": "h",
            }
        ],
        [
            "@babel/react",
            {
                "pragma": "h",
            }
        ],
        "linaria/babel"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
